# Backend
SECRET_KEY=change-this-to-a-long-random-string

# Local development:
DATABASE_URL=sqlite:///./data/portfolio.db

# Docker production:
# DATABASE_URL=sqlite:////app/data/portfolio.db

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:8083,http://localhost,https://fran-portfolio.duckdns.org,http://fran-portfolio.duckdns.org:10045,http://fran-portfolio.duckdns.org:10049

# DuckDNS token from https://www.duckdns.org (needed for Let's Encrypt DNS-01)
DUCKDNS_TOKEN=

# JWT
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=24
